@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,400&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(228, 248, 228);
}

.navbar {
    background-color: brown;
    padding: 15px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.18);
    ;
}

.navbar .navbar-brand {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

.navbar .navbar-brand:hover {
    color: green;
    transition: 0.3s;

}

.navbar .navbar-brand img {
    width: 30px;
    min-height: 30px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: green;
    transition: 0.3s;
}

.navbar-toggler-icon i {
    color: green;

}

.hero {
    background-image: url(./images/ifa\ logo.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}


.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(22, 21, 77, 0.596);
    z-index: -1;
}

.hero .main-text {
    color: white;
}

.hero .main-text h2 {
    font-size: 50px;
    letter-spacing: 1px;
}

.hero .main-text h3 {
    font-size: 40px;
    letter-spacing: 1px;
}

.hero .main-text h4 {
    font-size: 30px;
    letter-spacing: 1px;
}

.hero .main-text h5 {
    font-size: 30px;
    letter-spacing: 1px;
}

.hero .main-text p {
    font-size: 20px;
    letter-spacing: 1px;
}

.btn1 {
    background-color: green;
    color: white;
    padding: 5px 20px;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    letter-spacing: 1px;

}

.btn1:hover {
    color: green;
    background-color: white;
    border: solid 2px brown;
    transition: 0.3s;

    /* transition: .5s; */
}

.text h2 {
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 25px;
}

.text h4 {
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 18px;
}

.intro {
    background-color: brown;
    color: white;
}

#card-effect {
    background-color: brown;
    border-radius: 10px;
    box-shadow: 6px 11px 76px -18px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 11px 76px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 11px 76px -18px rgba(0, 0, 0, 0.75);
    min-height: 360px;
}

#card-main img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

#card-main h2 {
    color: white;

}

.heading h2 {
    color: green;
}

#card-main h4 {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;

}

#ch {
    display: none;
}

#ch1 {
    display: none;
}

#ch:checked~#context-2 {
    display: block;
    transition: .3s;
}

#ch:checked~label {
    display: none;
}

#context-2 {
    display: none;
}

#card-main h2 {
    font-size: 22px;
    letter-spacing: 1px;
}

#card-main h3 {
    font-size: 18px;
    letter-spacing: 1px;
}

#context-2 .card-subtitle {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 1px;
}

#context-3 .card-subtitle {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 1px;
}

#context-4 .card-subtitle {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 1px;
}

#context-5 .card-subtitle {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 1px;
}

label {
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: rgb(21, 212, 79);
    /* padding:  5px; */
    border-radius: 3px;
    margin-top: 12px;
}

#ch1:checked~#context-3 {
    display: block;
    transition: .3s;
}

#ch1:checked~label {
    display: none;
}

#context-3 {
    display: none;
}

#ch2 {
    display: none;
}

#ch2:checked~#context-4 {
    display: block;
    transition: .3s;
}

#ch2:checked~label {
    display: none;
}

#context-4 {
    display: none;
}

/* #label1 {
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: rgb(21, 212, 79);
    padding: 3px 13px;
    border-radius: 3px;
    margin-top: 12px;
}

#label2 {
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: rgb(21, 212, 79);
    padding: 3px 13px;
    border-radius: 3px;
    margin-top: 12px;
} */

#ch3 {
    display: none;
}

#ch3:checked~#context-5 {
    display: block;
    transition: .3s;
}

#ch3:checked~label {
    display: none;
}

#context-5 {
    display: none;
}

#about {
    background-color: white;
}

.about-img img {
    border-radius: 15px;
    box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.72);
    -webkit-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.72);
}

#about-content h2 {
    font-size: 20px;
    color: brown;

}

.hero2 {
    background-image: url(./images/bori3.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero2::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(23, 22, 75, 0.8);
    z-index: -1;

}

.social-icons a i {
    font-size: 30px;
    color: green;
}

.social-icons a i:hover {
    background-color: white;
    color: brown;
    border: 1px solid brown;
    border-radius: 20px;
    padding: 5px;
}

.btn2 {
    background-color: green;
    color: white;
    padding: 5px 20px;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
}

.btn2:hover:hover {
    color: green;
    background-color: white;
    border: solid 2px brown;
    transition: 0.3s;
}

#social h2 {
    letter-spacing: 1px;
}

#social p {
    letter-spacing: 1px;
}

#card {
    border-radius: 20px;
    box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);

}

.feature-img img {
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.feature-vid video {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
}

.contact .form-control {
    background-color: green;
    background-color: rgb(160, 209, 160);
    color: brown;
}

.contact .form-control:focus {
    border-color: green;
    box-shadow: none;
}

.contact .form-control::placeholder {
    color: gray;
}

.contact input.form-control {
    height: 44px;
}

#class-feature {
    width: 100%;
    min-height:200px;
    box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -2px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

#class-feature p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.8;
}
#class-feature .icon{
    font-size: 30px;
    color: green;
}
#class-feature h2{
    font-size:20px ;
}
@media(max-width:1440px){
    .hero2 {
        height: 50vh;
    }
    
}
@media(max-width:1024px){
    .navbar .navbar-brand {
        font-size: 20px;
        font-weight: 600;
    }
    
    .hero .main-text h2 {
        font-size: 40px;
    }
    
    .hero .main-text h3 {
        font-size: 30px;
    }
    
    .hero .main-text h4 {
        font-size: 20px;
    }
    
    .hero .main-text h5 {
        font-size: 20px;
    }
    
    .hero .main-text p {
        font-size: 16px;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 15px;
    }
    #card-main h2 {
        font-size: 18px;
    }
    
    #card-main h3 {
        font-size: 16px;
    }
    .hero2 {
        height: 65vh;
    }

    
}
@media(max-width:768px){
    .navbar .navbar-brand {
        font-size: 20px;
        font-weight: 600;
    }
    
    .hero .main-text h2 {
        font-size: 35px;
    }
    
    .hero .main-text h3 {
        font-size: 30px;
    }
    
    .hero .main-text h4 {
        font-size: 25px;
    }
    .hero {
        height: 95vh;
    }
    .btn1 {
        padding: 5px 10px;
        font-size: 16px;
    
    }
    #class-feature {
        min-height:100px;
    }
    
    #class-feature p {
        font-size: 16px;
    }
    #class-feature .icon{
        font-size: 25px;
    }
    #class-feature h2{
        font-size:18px ;
    }
    
    

}
@media(max-width:320px){
    .navbar .navbar-brand {
        font-size: 18px;
    }
    
    .hero .main-text h2 {
        font-size: 30px;
    }
    
    .hero .main-text h3 {
        font-size: 25px;
    }
    
    .hero .main-text h4 {
        font-size: 18px;
    }
    
    .hero .main-text h5 {
        font-size: 18px;
    }
    
    .hero .main-text p {
        font-size: 15px;
    }
    .hero2 {
        height: 75vh;
    }
    .btn1 {
        padding: 3px 8px;
        font-size: 14px;
    
    }




}

